src/wsdl/localhost_36124/AlumnosMatriculados/ProcesoValidarAlumnos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio.gestionalumnos.cem/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio.gestionalumnos.cem/">

<xs:element name="verificar_alumno_matriculado" type="tns:verificar_alumno_matriculado"/>

<xs:element name="verificar_alumno_matriculadoResponse" type="tns:verificar_alumno_matriculadoResponse"/>

<xs:complexType name="verificar_alumno_matriculado">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificar_alumno_matriculadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence/>
</xs:complexType>
</xs:schema>