src/wsdl/localhost_36124/AlumnosMatriculados/ProcesoValidarAlumnos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio.gestionalumnos.cem/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio.gestionalumnos.cem/">

<xs:element name="entregar_listado_alumnos" type="tns:entregar_listado_alumnos"/>

<xs:element name="entregar_listado_alumnosResponse" type="tns:entregar_listado_alumnosResponse"/>

<xs:element name="verificar_rut_alumno" type="tns:verificar_rut_alumno"/>

<xs:element name="verificar_rut_alumnoResponse" type="tns:verificar_rut_alumnoResponse"/>

<xs:complexType name="entregar_listado_alumnos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="entregar_listado_alumnosResponse">
<xs:sequence>
<xs:element name="return" type="tns:Alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Alumno">
<xs:sequence>
<xs:element name="rutPersona" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCompleto" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="domicilio" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="numeroMatricula" type="xs:integer" minOccurs="0"/>
<xs:element name="fechaMatricula" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombreCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="esMoroso" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificar_rut_alumno">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificar_rut_alumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:Alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>